{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}
{% block title %} {{block.super}} {% endblock %}
{% block body_outer %}
{% block body %}


<div id= "page" class = "container">

	<div class="col-md-2" >
		<div>	
				
			<div class="page-header"><h2>{{ data.name }}</h2></div>
			<div class="tab-content">
				<dl class="dl-horizontal">
					<dt style="width:60px;">{% trans "Code"%}</dt><dd style="margin-left:80px;">{{ data.code }}</dd>
					<dt style="width:60px;">{% trans "Province"%}</dt><dd style="margin-left:80px;">{{ data.province }}</dd>
					<dt style="width:60px;">{% trans "Longitude"%}</dt><dd style="margin-left:80px;">{{ data.longitude }}</dd>
					<dt style="width:60px;">{% trans "Latitude"%}</dt><dd style="margin-left:80px;">{{ data.latitude }}</dd>
					<dt style="width:60px;">{% trans "Elevation"%}</dt><dd style="margin-left:80px;">{{ data.elevation }}</dd>
				</dl>
			</div>				
			<div>
				<div><b>Variables</b></div>
				<div><nav id="variablesList" class="filter"></nav></div>
				<div id="variableDetails" style="padding-top:20px"></div>
			</div>		

		</div>


	</div>

	<div class="col-md-10">
		<div id="timeSeries" class="text-center"></div>
	</div>


</div>



{% endblock body %}
{% block sidebar %}{% endblock sidebar %}
<link rel = "stylesheet" type="text/css" href="{{ STATIC_URL }}/">
<script type="text/javascript" src="{{ STATIC_URL }}geonode/css/meteorology.css"></script>
<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type= "text/javascript" src="{{ STATIC_URL }}geonode/js/meteorology/plotter.js"></script>
<script type= "text/javascript" src="{{ STATIC_URL }}geonode/js/meteorology/mediator.js"></script>
<script type= "text/javascript" src="{{ STATIC_URL }}geonode/js/meteorology/variablesManager.js"></script>
<script type= "text/javascript" src="{{ STATIC_URL }}geonode/js/meteorology/timeSeriesManager.js"></script>
<script type= "text/javascript" src="{{ STATIC_URL }}geonode/js/meteorology/main.js"></script>

<script type="text/javascript">
	var id_station = {{ data.pk }}
</script>
{% endblock body_outer %}
